>=20
>=20
> Our mission is to make it simple for you!
> =20
>=20
> =20
> Rajat Vig, thank you for choosing Jamboree!
> =20
> We are delighted to have you prep with us!
> At Jamboree, we take your test prep very seriously. With your effort and =
our guidance, we are certain to get you your desired score. We also want to=
 emphasize the importance of not losing sight of your final goal; which is =
to get admission into the university  best suited for you and your career p=
lan. Your applications are as important as, if not more important than, you=
r test scores and we urge you to start thinking about them as soon as you s=
tart your test prep.
>=20
> Students find the applications phase much more challenging than the test =
prep itself. Keeping that in mind, we have made exhaustive admissions packa=
ges for our students. We allocate one Expert Resource to start working on y=
our applications parallel to your test prep. The packages include:
>=20
> University Selection: Identifying the right universities for you based on=
 your profile, your preferences, your budget and the admission records of o=
ur students from past years. We will give you a list of 15-20 universities =
and rate your chances of admission to each one. Your admissions counselor w=
ill then help you further zero down to the exact number of schools that you=
 are planning to apply to.
> Helping you identify your Recommenders
> Editing your Letters of Recommendation
> Building the contents of your Essays and Statement of Purpose
> Preparing your R=C3=A9sum=C3=A9 and Profile building
> Helping you prepare all your documents which include application forms, f=
inancial aid applications, transcripts, and financial documents
> Reviewing your online application
> Comprehensive and rigorous interview training: We will give you universit=
y-specific interview training.
> Providing you with Value Added Services such as insurance, discounted cou=
riers, educational loans, discounted foreign exchange, ticketing and much m=
ore.
> We see an acceptance rate 7x higher than when students apply on their own=
. Since the combination of test prep + applications assistance has proven t=
o be more fruitful for our students in the past, we encourage our new stude=
nts to take the test prep + applications assistance package by offering 10%=
 off on our Admissions Counseling. This offer is valid till 30 days after y=
our enrollment date.
> Get Admissions support information
> =20
> =20
> During your prep should you face any challenges with our service, you can=
 reach out to us on our direct complaint redressal number:
> 011-65150222=20
> (available Mon-Sat 10:00-18:00)
>=20
> To your continued success,
> Team Jamboree.
> =20
> "The greatest success we'll know is helping others suceed & grow"
> =20
> =20
> =20
>=20
> You are receiving this email because you enquired with us. If you got thi=
s by mistake, please intimate us immediately at information@jamboreeindia.c=
om
> Our mailing address is:
> Jamboree Education, 9AB, Taimoor Nagar, New Friends Colony, New Delhi, 11=
0065, India
>   View in browser          Unsubscribe =20

--Apple-Mail-7F85FDC4-D9C8-4063-8693-9BFBAB3A4C2C
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html><head><meta http-equiv=3D"content-type" content=3D"text/html; charset=
=3Dutf-8"></head><body dir=3D"auto"><br><br><div id=3D"AppleMailSignature">=
Sent from my iPhone</div><div><br>Begin forwarded message:<br><br></div><bl=
ockquote type=3D"cite"><div><b>From:</b> "Jamboree Education" &lt;<a href=
=3D"mailto:information@jamboreeindia.com">information@jamboreeindia.com</a>=
&gt;<br><b>Date:</b> 6 February 2016 at 2:33:36 PM IST<br><b>To:</b> <a hre=
f=3D"mailto:bhumika.dhingra3@gmail.com">bhumika.dhingra3@gmail.com</a><br><=
b>Subject:</b> <b>Welcome to the family!</b><br><b>Reply-To:</b> <a href=3D=
"mailto:information@jamboreeindia.com">information@jamboreeindia.com</a><br=
><br></div></blockquote><blockquote type=3D"cite"><div><meta content=3D"wid=
th=3Ddevice-width" name=3D"viewport">
<meta content=3D"IE=3Dedge" http-equiv=3D"X-UA-Compatible">
<meta content=3D"text/html; charset=3DUTF-8" http-equiv=3D"Content-Type">
<title></title>

<center>
<table bgcolor=3D"#F2F2F2" border=3D"0" cellpadding=3D"0" cellspacing=3D"0"=
 height=3D"100%" id=3D"bodyTable" style=3D"border-collapse: collapse; heigh=
t: 100% !important; width: 100% !important; mso-table-lspace: 0pt; mso-tabl=
e-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; =
border-top-width: 0; border-bottom-width: 0; background: #F2F2F2; margin: 0=
; padding: 0;" width=3D"100%">
=09<tbody>
=09=09<tr>
=09=09=09<td align=3D"center" id=3D"bodyCell" style=3D"height: 100% !import=
ant; width: 100% !important; mso-line-height-rule: exactly; -ms-text-size-a=
djust: 100%; -webkit-text-size-adjust: 100%; border-top-width: 0; margin: 0=
; padding: 0;" valign=3D"top">
=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" style=3D"b=
order-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms=
-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09<tbody>
=09=09=09=09=09<tr>
=09=09=09=09=09=09<td align=3D"center" bgcolor=3D"#27ae60" id=3D"templatePr=
eheader" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%=
; -webkit-text-size-adjust: 100%; padding-right: 10px; padding-left: 10px; =
border-top-width: 0; border-bottom-width: 0; background: #27ae60;" valign=
=3D"top"><!-- BEGIN PREHEADER // --><!--[if gte mso 9]>=09=09=09=09=09=09=
=09=09=09<table align=3D"center" border=3D"0" cellspacing=3D"0" cellpadding=
=3D"0" style=3D"width:600px;" width=3D"600">=09=09=09=09=09=09=09=09=09<tr>=
=09=09=09=09=09=09=09=09=09<td align=3D"center" valign=3D"top">=09=09=09=09=
=09=09=09=09=09<![endif]-->
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" c=
lass=3D"templateContainer" style=3D"border-collapse: collapse; mso-table-ls=
pace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-=
size-adjust: 100%; max-width: 600px;" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td class=3D"preheaderContainer" style=3D"mso-li=
ne-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adju=
st: 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnTextBlock" style=3D"border-collapse: collapse; mso-tabl=
e-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-t=
ext-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnTextBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnTextBlockInner" style=
=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text=
-size-adjust: 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09<table align=3D"left" border=3D"0" cell=
padding=3D"0" cellspacing=3D"0" class=3D"mcnTextContentContainer" style=3D"=
border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -m=
s-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" width=3D"366">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"left" class=3D"mc=
nTextContent" style=3D"font-family: Arial, 'Helvetica Neue', Helvetica, san=
s-serif; line-height: 150%; mso-line-height-rule: exactly; -ms-text-size-ad=
just: 100%; -webkit-text-size-adjust: 100%; color: #ffffff; font-size: 11px=
; text-align: left; padding: 9px 0px 9px 18px;" valign=3D"top"><span style=
=3D"color: rgb(255, 255, 255); font-family: Arial, 'Helvetica Neue', Helvet=
ica, sans-serif; font-size: 11px; line-height: 16.5px; background-color: rg=
b(39, 174, 96);">Our mission is to make it simple for you!</span></td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<!--[if gte mso 9]>=09=09=09=09=09=09=09=09=09</td>=09=09=
=09=09=09=09=09=09=09</tr>=09=09=09=09=09=09=09=09=09</table>=09=09=09=09=
=09=09=09=09=09<![endif]--><!-- // END PREHEADER --></td>
=09=09=09=09=09</tr>
=09=09=09=09=09<tr>
=09=09=09=09=09=09<td align=3D"center" bgcolor=3D"#ecf0f1" id=3D"templateHe=
ader" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -=
webkit-text-size-adjust: 100%; padding-right: 10px; padding-left: 10px; bor=
der-top-width: 0; border-bottom-width: 0; background: #ecf0f1;" valign=3D"t=
op"><!-- BEGIN HEADER // --><!--[if gte mso 9]>=09=09=09=09=09=09=09=09=09<=
table align=3D"center" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" sty=
le=3D"width:600px;" width=3D"600">=09=09=09=09=09=09=09=09=09<tr>=09=09=09=
=09=09=09=09=09=09<td align=3D"center" valign=3D"top">=09=09=09=09=09=09=09=
=09=09<![endif]-->
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" c=
lass=3D"templateContainer" style=3D"border-collapse: collapse; mso-table-ls=
pace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-=
size-adjust: 100%; max-width: 600px;" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td class=3D"headerContainer" style=3D"mso-line-=
height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust:=
 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnDividerBlock" style=3D"border-collapse: collapse; mso-t=
able-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webki=
t-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnDividerBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnDividerBlockInner" styl=
e=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-tex=
t-size-adjust: 100%; padding: 18px;">
=09=09=09=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" c=
ellspacing=3D"0" class=3D"mcnDividerContent" style=3D"border-top-width: 1px=
; border-top-style: none; border-top-color: #999999; border-collapse: colla=
pse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 10=
0%; -webkit-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"mso-line-height-r=
ule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">=
&nbsp;</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>

=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnImageBlock" style=3D"border-collapse: collapse; mso-tab=
le-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-=
text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnImageBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnImageBlockInner" style=
=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text=
-size-adjust: 100%; padding: 9px;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09<table align=3D"left" border=3D"0" cell=
padding=3D"0" cellspacing=3D"0" class=3D"mcnImageContentContainer" style=3D=
"border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -=
ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"center" class=3D"=
mcnImageContent" style=3D"text-align: center; mso-line-height-rule: exactly=
; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; padding: 0 9p=
x;" valign=3D"top"><img align=3D"center" alt=3D"" class=3D"mcnImage" src=3D=
"https://gallery.mailchimp.com/6f271dcbaeaed6ee183885adf/images/6130c4ac-74=
31-403e-b8c8-a8c8d87785fb.png" style=3D"max-width: 256px; padding-bottom: 0=
; display: inline !important; vertical-align: bottom; height: auto; outline=
: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: 0;"=
 width=3D"256"></td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>

=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnDividerBlock" style=3D"border-collapse: collapse; mso-t=
able-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webki=
t-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnDividerBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnDividerBlockInner" styl=
e=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-tex=
t-size-adjust: 100%; padding: 25px 18px 18px;">
=09=09=09=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" c=
ellspacing=3D"0" class=3D"mcnDividerContent" style=3D"border-top-width: 1px=
; border-top-style: dotted; border-top-color: #999999; border-collapse: col=
lapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: =
100%; -webkit-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"mso-line-height-r=
ule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">=
&nbsp;</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<!--[if gte mso 9]>=09=09=09=09=09=09=09=09=09</td>=09=09=
=09=09=09=09=09=09=09</tr>=09=09=09=09=09=09=09=09=09</table>=09=09=09=09=
=09=09=09=09=09<![endif]--><!-- // END HEADER --></td>
=09=09=09=09=09</tr>
=09=09=09=09=09<tr>
=09=09=09=09=09=09<td align=3D"center" bgcolor=3D"#ecf0f1" id=3D"templateUp=
perBody" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%=
; -webkit-text-size-adjust: 100%; padding-right: 10px; padding-left: 10px; =
border-top-width: 0; border-bottom-width: 0; background: #ecf0f1;" valign=
=3D"top"><!-- BEGIN UPPER BODY // --><!--[if gte mso 9]>=09=09=09=09=09=09=
=09=09=09<table align=3D"center" border=3D"0" cellspacing=3D"0" cellpadding=
=3D"0" style=3D"width:600px;" width=3D"600">=09=09=09=09=09=09=09=09=09<tr>=
=09=09=09=09=09=09=09=09=09<td align=3D"center" valign=3D"top">=09=09=09=09=
=09=09=09=09=09<![endif]-->
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" c=
lass=3D"templateContainer" style=3D"border-collapse: collapse; mso-table-ls=
pace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-=
size-adjust: 100%; max-width: 600px;" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td class=3D"upperBodyContainer" style=3D"mso-li=
ne-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adju=
st: 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnTextBlock" style=3D"border-collapse: collapse; mso-tabl=
e-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-t=
ext-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnTextBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnTextBlockInner" style=
=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text=
-size-adjust: 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09<table align=3D"left" border=3D"0" cell=
padding=3D"0" cellspacing=3D"0" class=3D"mcnTextContentContainer" style=3D"=
border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -m=
s-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" width=3D"599">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"left" class=3D"mc=
nTextContent" style=3D"font-family: Arial, 'Helvetica Neue', Helvetica, san=
s-serif; line-height: 150%; mso-line-height-rule: exactly; -ms-text-size-ad=
just: 100%; -webkit-text-size-adjust: 100%; color: #606060; font-size: 15px=
; text-align: left; padding: 9px 18px;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<h1 align=3D"center" style=3D"=
text-align: center; display: block; color: #606060 !important; font-family:=
 Helvetica; font-size: 40px; font-style: normal; font-weight: bold; line-he=
ight: 125%; letter-spacing: -1px; margin: 0; padding: 0;"><span style=3D"fo=
nt-family: trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahom=
a,sans-serif;"><span style=3D"font-size: 22px;"><em><span class=3D"mx-html-=
variable" title=3D"Name of the Lead will be replaced in the message." unsel=
ectable=3D"on">Bhumika Dhingra</span>,&nbsp;</em></span></span><em style=3D=
"font-size: 22px; font-family: 'trebuchet ms', 'lucida grande', 'lucida san=
s unicode', 'lucida sans', tahoma, sans-serif;">thank you for choosing Jamb=
oree!</em></h1>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<span style=3D"color: rgb(96, =
96, 96); font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-=
size: 15px; line-height: 22.5px; background-color: rgb(236, 240, 241);">&nb=
sp;</span>

=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<h3 style=3D"line-height: 22.5=
px; font-family: Helvetica; font-size: 18px; letter-spacing: -0.5px; margin=
: 0px; padding: 0px; text-align: center; color: rgb(96, 96, 96) !important;=
 background-color: rgb(236, 240, 241);">We are delighted&nbsp;to have you p=
rep with us!</h3>

=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<p style=3D"color: rgb(96, 96,=
 96); font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-siz=
e: 15px; line-height: 22.5px; margin-top: 1em; margin-bottom: 1em; text-ali=
gn: justify; background-color: rgb(236, 240, 241);">At Jamboree, we take yo=
ur test prep very seriously. With your effort and our guidance, we are cert=
ain to get you your desired score. We also want to emphasize&nbsp;the impor=
tance of&nbsp;<strong>not losing sight of your final goal</strong>; which i=
s to get&nbsp;<strong>admission&nbsp;</strong>into the university&nbsp;<spa=
n style=3D"color: rgb(96, 96, 96); font-family: Arial, sans-serif; font-siz=
e: 15.3333px; line-height: 23px; text-align: justify; background-color: rgb=
(236, 240, 241);">&nbsp;</span><strong style=3D"color: rgb(96, 96, 96); fon=
t-family: Arial, sans-serif; font-size: 15.3333px; line-height: 23px; text-=
align: justify; background-color: rgb(236, 240, 241);">best suited for you =
and your career plan</strong>. Your applications are as important as, if no=
t more important than, your test scores and we urge you to start thinking a=
bout them as soon as you start your test prep.<br>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<br>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Students find the applications=
 phase much more challenging than the test prep itself.&nbsp;Keeping that i=
n mind, we have made&nbsp;exhaustive&nbsp;admissions packages for our stude=
nts. We allocate one&nbsp;<em>Expert Resource</em>&nbsp;to start working on=
 your applications parallel to your test prep. The packages include:</p>

=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<ol style=3D"color: rgb(96, 96=
, 96); font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-si=
ze: 15px; line-height: 22.5px; background-color: rgb(236, 240, 241);">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;"><strong>University Selection</strong>:&nbsp;Identi=
fying the right universities for you based on your profile, your preference=
s, your budget and the admission records of our students from past years. W=
e will give you a list of 15-20 universities and rate your chances of admis=
sion to each one. Your admissions counselor will then help you further zero=
 down to the exact number of schools that you are planning to apply to.</li=
>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;">Helping you identify your&nbsp;<strong>Recommender=
s</strong></li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;">Editing your&nbsp;<strong>Letters of Recommendatio=
n</strong></li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;">Building the contents of your&nbsp;<strong>Essays =
and Statement of Purpose</strong></li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;">Preparing your&nbsp;<strong>R=C3=A9sum=C3=A9</stro=
ng>&nbsp;and<strong>&nbsp;Profile bui</strong><strong>ld</strong><strong>in=
g</strong></li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;">Helping you prepare&nbsp;<strong>all your document=
s</strong>&nbsp;which include application forms, financial aid&nbsp;applica=
tions, transcripts, and financial documents</li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;"><strong>Reviewing</strong>&nbsp;your online applic=
ation</li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;">Comprehensive and&nbsp;<strong>rigorous interview =
training</strong>:&nbsp;We will give you university-specific interview trai=
ning.</li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<li style=3D"margin: 1em 0p=
x; text-align: justify;">Providing you with&nbsp;<strong>Value Added Servic=
es</strong>&nbsp;such as insurance, discounted couriers, educational loans,=
 discounted foreign exchange, ticketing and much more.</li>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</ol>

=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<div style=3D"color: rgb(96, 9=
6, 96); font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-s=
ize: 15px; line-height: 22.5px; margin: 1em 0px; text-align: justify; backg=
round-color: rgb(236, 240, 241);">We see an acceptance rate <strong>7x</str=
ong> higher than when students apply on their own. Since the combination of=
 test prep + applications assistance has proven to be more fruitful for our=
 students in the past, we encourage our new students to take the test prep =
+ applications assistance package by offering <strong>10% off</strong> on o=
ur Admissions Counseling. This offer is valid till 30 days after your enrol=
lment date.</div>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>

=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnButtonBlock" style=3D"border-collapse: collapse; mso-ta=
ble-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit=
-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnButtonBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"center" class=3D"mcnButton=
BlockInner" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 1=
00%; -webkit-text-size-adjust: 100%; padding: 0 18px 18px;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09<table bgcolor=3D"#E74C3C" border=3D"0"=
 cellpadding=3D"0" cellspacing=3D"0" class=3D"mcnButtonContentContainer" st=
yle=3D"border-collapse: separate !important; border-radius: 6px; mso-table-=
lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-tex=
t-size-adjust: 100%; background: #E74C3C; border: 2px none #707070;">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"center" class=3D"=
mcnButtonContent" style=3D"font-family: Verdana, Geneva, sans-serif; font-s=
ize: 16px; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webk=
it-text-size-adjust: 100%; padding: 16px;" valign=3D"middle"><a href=3D"htt=
p://click.jamboreeindia.com/t/em/3094/1/37f0acc0-f088-4ce7-817d-eddfe907c3f=
d/278" style=3D"color: rgb(255, 255, 255); font-family: Verdana, Geneva, sa=
ns-serif; font-size: 16px; line-height: 16px; text-align: center; word-wrap=
: break-word; display: block; background-color: rgb(231, 76, 60);" target=
=3D"_blank" title=3D"Yes, I want a 1-to-1">Get Admissions support informati=
on</a></td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<!--[if gte mso 9]>=09=09=09=09=09=09=09=09=09</td>=09=09=
=09=09=09=09=09=09=09</tr>=09=09=09=09=09=09=09=09=09</table>=09=09=09=09=
=09=09=09=09=09<![endif]--><!-- // END UPPER BODY --></td>
=09=09=09=09=09</tr>
=09=09=09=09=09<tr>
=09=09=09=09=09=09<td align=3D"center" bgcolor=3D"#ecf0f1" id=3D"templateCo=
lumns" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; =
-webkit-text-size-adjust: 100%; padding-right: 10px; padding-left: 10px; bo=
rder-top-width: 0; border-bottom-width: 0; background: #ecf0f1;" valign=3D"=
top"><!-- BEGIN COLUMNS // -->
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" c=
lass=3D"templateContainer" style=3D"border-collapse: collapse; mso-table-ls=
pace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-=
size-adjust: 100%; max-width: 600px;" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td align=3D"center" style=3D"mso-line-height-ru=
le: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" v=
align=3D"top"><!-- BEGIN INDIVIDUAL COLUMNS // --><!--[if gte mso 9]>      =
                                          <table align=3D"center" border=3D=
"0" cellspacing=3D"0" cellpadding=3D"0" style=3D"width:600px;" width=3D"600=
">                                                <tr>                     =
                           <td align=3D"center" valign=3D"top" style=3D"wid=
th:298px;" width=3D"298">                                                <!=
[endif]-->
=09=09=09=09=09=09=09=09=09<table align=3D"left" border=3D"0" cellpadding=
=3D"0" cellspacing=3D"0" class=3D"columnsContainer" style=3D"border-collaps=
e: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-ad=
just: 100%; -webkit-text-size-adjust: 100%; max-width: 298px;" width=3D"50%=
">
=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"leftColumnContainer" style=
=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text=
-size-adjust: 100%;" valign=3D"top">&nbsp;</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09<!--[if gte mso 9]>                             =
                   </td>                                                <td=
 align=3D"center" valign=3D"top" style=3D"width:298px;" width=3D"298">     =
                                           <![endif]-->

=09=09=09=09=09=09=09=09=09<table align=3D"left" border=3D"0" cellpadding=
=3D"0" cellspacing=3D"0" class=3D"columnsContainer" style=3D"border-collaps=
e: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-ad=
just: 100%; -webkit-text-size-adjust: 100%; max-width: 298px;" width=3D"50%=
">
=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"rightColumnContainer" styl=
e=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-tex=
t-size-adjust: 100%;" valign=3D"top">&nbsp;</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09<!--[if gte mso 9]>                             =
                   </td>                                                </t=
r>                                                </table>                 =
                               <![endif]--><!-- // END INDIVIDUAL COLUMNS -=
-></td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<!-- // END COLUMNS --></td>
=09=09=09=09=09</tr>
=09=09=09=09=09<tr>
=09=09=09=09=09=09<td align=3D"center" bgcolor=3D"#ecf0f1" id=3D"templateLo=
werBody" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%=
; -webkit-text-size-adjust: 100%; padding-right: 10px; padding-left: 10px; =
border-top-width: 0; border-bottom-width: 0; background: #ecf0f1;" valign=
=3D"top"><!-- BEGIN LOWER BODY // --><!--[if gte mso 9]>=09=09=09=09=09=09=
=09=09=09<table align=3D"center" border=3D"0" cellspacing=3D"0" cellpadding=
=3D"0" style=3D"width:600px;" width=3D"600">=09=09=09=09=09=09=09=09=09<tr>=
=09=09=09=09=09=09=09=09=09<td align=3D"center" valign=3D"top">=09=09=09=09=
=09=09=09=09=09<![endif]-->
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" c=
lass=3D"templateContainer" style=3D"border-collapse: collapse; mso-table-ls=
pace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-=
size-adjust: 100%; max-width: 600px;" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td class=3D"lowerBodyContainer" style=3D"mso-li=
ne-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adju=
st: 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnTextBlock" style=3D"border-collapse: collapse; mso-tabl=
e-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-t=
ext-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnTextBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnTextBlockInner" style=
=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text=
-size-adjust: 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09<table align=3D"left" border=3D"0" cell=
padding=3D"0" cellspacing=3D"0" class=3D"mcnTextContentContainer" style=3D"=
border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -m=
s-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" width=3D"599">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"left" class=3D"mc=
nTextContent" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust:=
 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Helveti=
ca; font-size: 15px; line-height: 150%; text-align: left; padding: 9px 18px=
;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<div align=3D"center" style=3D=
"text-align: center;">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<div align=3D"center" style=3D=
"color: rgb(96, 96, 96); font-family: Helvetica; font-size: 15px; line-heig=
ht: 22.5px; text-align: center; background-color: rgb(236, 240, 241);">Duri=
ng your prep&nbsp;should you face any challenges with our service, you can =
reach out to us on our direct complaint redressal number:<br>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09011-65150222&nbsp;<br>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09(available Mon-Sat&nbsp;<span =
class=3D"aBn" data-term=3D"goog_1821380012" style=3D"border-bottom-width: 1=
px; border-bottom-style: dashed; border-bottom-color: rgb(204, 204, 204); p=
osition: relative; top: -2px; z-index: 0;" tabindex=3D"0"><span class=3D"aQ=
J" style=3D"position: relative; top: 2px; z-index: -1;">10:00-18:00</span><=
/span>)</div>

=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<div style=3D"text-align: left=
;"><br>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<span style=3D"color: rgb(96, =
96, 96); font-family: Helvetica; font-size: 15px; line-height: 22.5px; back=
ground-color: rgb(236, 240, 241);">To your continued success,</span><br sty=
le=3D"color: rgb(96, 96, 96); font-family: Helvetica; font-size: 15px; line=
-height: 22.5px; background-color: rgb(236, 240, 241);">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Team Jamboree.</div>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</div>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>

=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnDividerBlock" style=3D"border-collapse: collapse; mso-t=
able-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webki=
t-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnDividerBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnDividerBlockInner" styl=
e=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-tex=
t-size-adjust: 100%; padding: 18px;">
=09=09=09=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" c=
ellspacing=3D"0" class=3D"mcnDividerContent" style=3D"border-top-width: 1px=
; border-top-style: dotted; border-top-color: #999999; border-collapse: col=
lapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: =
100%; -webkit-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"mso-line-height-r=
ule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">=
&nbsp;</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>

=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnTextBlock" style=3D"border-collapse: collapse; mso-tabl=
e-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-t=
ext-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnTextBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnTextBlockInner" style=
=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text=
-size-adjust: 100%;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09<table align=3D"left" border=3D"0" cell=
padding=3D"0" cellspacing=3D"0" class=3D"mcnTextContentContainer" style=3D"=
border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -m=
s-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;" width=3D"599">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"left" class=3D"mc=
nTextContent" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust:=
 100%; -webkit-text-size-adjust: 100%; color: #606060; font-family: Helveti=
ca; font-size: 15px; line-height: 150%; text-align: left; padding: 9px 18px=
;" valign=3D"top">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<div align=3D"center" style=3D=
"text-align: center;"><span style=3D"font-size: 14px;"><em>"The greatest su=
ccess we'll know is helping others suceed &amp; grow</em></span><span style=
=3D"font-size: 14px;"><em>"</em></span></div>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>

=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacin=
g=3D"0" class=3D"mcnDividerBlock" style=3D"border-collapse: collapse; mso-t=
able-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webki=
t-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<tbody class=3D"mcnDividerBlockOuter">
=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"mcnDividerBlockInner" styl=
e=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-tex=
t-size-adjust: 100%; padding: 18px;">
=09=09=09=09=09=09=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" c=
ellspacing=3D"0" class=3D"mcnDividerContent" style=3D"border-top-width: 1px=
; border-top-style: dotted; border-top-color: #999999; border-collapse: col=
lapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: =
100%; -webkit-text-size-adjust: 100%;" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"mso-line-height-r=
ule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">=
&nbsp;</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<!--[if gte mso 9]>=09=09=09=09=09=09=09=09=09</td>=09=09=
=09=09=09=09=09=09=09</tr>=09=09=09=09=09=09=09=09=09</table>=09=09=09=09=
=09=09=09=09=09<![endif]--><!-- // END LOWER BODY --></td>
=09=09=09=09=09</tr>
=09=09=09=09=09<tr>
=09=09=09=09=09=09<td align=3D"center" bgcolor=3D"#F2F2F2" id=3D"templateFo=
oter" style=3D"mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -=
webkit-text-size-adjust: 100%; padding-right: 10px; padding-left: 10px; bor=
der-top-width: 0; border-bottom-width: 0; background: #F2F2F2;" valign=3D"t=
op"><!-- BEGIN FOOTER // --><!--[if gte mso 9]>=09=09=09=09=09=09=09=09=09<=
table align=3D"center" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" sty=
le=3D"width:600px;" width=3D"600">=09=09=09=09=09=09=09=09=09<tr>=09=09=09=
=09=09=09=09=09=09<td align=3D"center" valign=3D"top">=09=09=09=09=09=09=09=
=09=09<![endif]-->
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" c=
lass=3D"templateContainer" style=3D"border-collapse: collapse; mso-table-ls=
pace: 0pt; mso-table-rspace: 0pt; -ms-text-size-adjust: 100%; -webkit-text-=
size-adjust: 100%; max-width: 600px;" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td class=3D"footerContainer" style=3D"mso-line-=
height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust:=
 100%;" valign=3D"top">&nbsp;</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<!--[if gte mso 9]>=09=09=09=09=09=09=09=09=09</td>=09=09=
=09=09=09=09=09=09=09</tr>=09=09=09=09=09=09=09=09=09</table>=09=09=09=09=
=09=09=09=09=09<![endif]--><!-- // END FOOTER --></td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody>
=09=09=09</table>
=09=09=09</td>
=09=09</tr>
=09</tbody>
</table>
</center>
<mxcanspamtag><p>&nbsp;</p>

<div style=3D"text-align:center;font-family:Trebuchet;font-size:12px;color:=
#666;font-weight:bold"><span style=3D"font-family:arial,helvetica,sans-seri=
f;">You are receiving this email because you enquired with us. If you got t=
his by&nbsp;mistake, please intimate us immediately at <a href=3D"mailto:in=
formation@jamboreeindia.com">information@jamboreeindia.com</a><br>
Our mailing address is:</span></div>

<div style=3D"text-align:center;font-family:Trebuchet;font-size:12px;color:=
#666"><span style=3D"font-family:arial,helvetica,sans-serif;">Jamboree Educ=
ation, 9AB, Taimoor Nagar, New Friends Colony, New Delhi, 110065, India</sp=
an></div>

<div style=3D"text-align:center;font-family:Trebuchet;font-size:12px;margin=
-top:10px;color:#666"><mxviewinbrowsertag><span style=3D"font-family:arial,=
helvetica,sans-serif;"><a href=3D"http://click.jamboreeindia.com/t/em/3094/=
11/37f0acc0-f088-4ce7-817d-eddfe907c3fd" style=3D"font-family:Trebuchet;fon=
t-size:12px;text-decoration:none;">&nbsp;&nbsp;View in browser&nbsp;&nbsp;<=
/a></span></mxviewinbrowsertag><span style=3D"font-family:arial,helvetica,s=
ans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><mxunsubscribetag><s=
pan style=3D"font-family:arial,helvetica,sans-serif;"><a href=3D"http://cli=
ck.jamboreeindia.com/t/em/3094/5/37f0acc0-f088-4ce7-817d-eddfe907c3fd" styl=
e=3D"text-align:center;font-family:Trebuchet;font-size:12px;text-decoration=
:none;" target=3D"_blank">&nbsp;&nbsp;Unsubscribe&nbsp;&nbsp;</a></span></m=
xunsubscribetag></div>
</mxcanspamtag><mxpixettrackingtag><img src=3D"http://click.jamboreeindia.c=
om/t/em/3094/0/37f0acc0-f088-4ce7-817d-eddfe907c3fd" height=3D"1" width=3D"=
1"></mxpixettrackingtag></div></blockquote></body></html>
--Apple-Mail-7F85FDC4-D9C8-4063-8693-9BFBAB3A4C2C--